
.button__create__menu__wrapper {
    position: absolute;
    overflow: auto;
    display: block;
    top: 57px;
    right: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    width: 360px;
    min-height: 215px;
    border-radius: 8px;
    max-width: calc(100vw - 24px);
    max-height: calc(100vh - 60px);
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.button__create__menu__wrapper hr {
    margin-right: 16px;
    background-color: #CED0D4;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 8px;

    background: #dadde1;
    border-width: 0;
    color: #dadde1;
    height: 1px;
}

.button__create__menu__wrapper::-webkit-scrollbar {
    background-color: #eff2f5;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button__create__menu__wrapper::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-color: #eff2f5;
    border-top-right-radius: 8px;
}

.button__create__menu__wrapper::-webkit-scrollbar-button:single-button:vertical:increment {
    background-color: #eff2f5;
    border-bottom-right-radius: 8px;
}

.button__create__menu__wrapper::-webkit-scrollbar-thumb {
    background-color: #cccecf;
}

.button__create__menu__header h2 {
    color: #050505;
    font-weight: 600;
}

.button__create__section__border {
    margin-left: -8px;
    margin-right: -8px;
    border-radius: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    display: flex;
}

.button__create__section__border:hover {
    background-color: #e9ebec;
    cursor: pointer;
}

.button__create__section__border:active {
    background-color: #bfc2c4;
    cursor: pointer;
}

.button__create__description {
    display: block;
}

.button__create__description__category {
    padding-left: 12px;
}

.button__create__description__help {
    padding-left: 12px;
}

.button__create__description__category > span {
    color: #050505;
}

.button__create__description__help > span {
    color: #65676B;
}

.button__create__section__icon {
    width: 36px;
    height: 36px;
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-width: 36px;
    margin-top: 5px;
    background-color: #F0F2F5;
    border-radius: 50px;
}

.button__create__section__icon > .MuiSvgIcon-root {
    color: gray;
}