.header__option__friends {
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
}

.header__option__friends:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    border-bottom: none;
}

.header__option__friends:active {
    background-color: #e9ebec;
    border-radius: 10px;
    align-items: center;
    border-bottom: none;
}

.header__option__friends__wrapper > .MuiSvgIcon-root {
    color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__option__friends__active {
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
}

.header__option__friends__wrapper__active > .MuiSvgIcon-root {
    color: #2e81f4;
    padding-top: 10px;
    padding-bottom: 8px;
} 

.header__option__friends__active {
    border-bottom: 3px solid #2e81f4;
}
