.bodyMusicPlayer {
    display:flex;
    margin-top: 20px;
  }

  .bodyMusicPlayer__trackImage {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .bodyMusicPlayer__trackImage img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.bodyMusicPlayer__trackArtist {
    width: 680px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 30px;
}

.bodyMusicPlayer__trackArtist h1, h2, h6{
    color: #1877F2;
}

.bodyMusicPlayer__trackArtist h2 {
    color: rgb(163, 163, 163);
}

.bodyMusicPlayer__trackArtist br {
    margin: 0;
}


  