.button__account__menu__wrapper {
    position: absolute;
    overflow: auto;
    display: block;
    top: 57px;
    right: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    width: 360px;
    min-height: 215px;
    border-radius: 8px;
    max-width: calc(100vw - 24px);
    max-height: calc(100vh - 60px);
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.button__account__menu__wrapper hr {
    margin-right: 16px;
    background-color: #CED0D4;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 8px;

    background: #dadde1;
    border-width: 0;
    color: #dadde1;
    height: 1px;
}

.button__account__menu__wrapper::-webkit-scrollbar {
    background-color: #eff2f5;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button__account__menu__wrapper::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-color: #eff2f5;
    border-top-right-radius: 8px;
}

.button__account__menu__wrapper::-webkit-scrollbar-button:single-button:vertical:increment {
    background-color: #eff2f5;
    border-bottom-right-radius: 8px;
}

.button__account__menu__wrapper::-webkit-scrollbar-thumb {
    background-color: #cccecf;
}

.button__account__menu__header {
    color: #050505;
    font-weight: 600;
}

.button__account__menu__header a {
    text-decoration: none;
}

.button__account__section__border {
    margin-left: -8px;
    margin-right: -8px;
    border-radius: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    display: flex;
}

.button__account__section__border:hover {
    background-color: #eff2f5;
    cursor: pointer;
}

.button__account__section__border:active {
    background-color: #e9ebec;
    cursor: pointer;
}

.button__account__description {
    display: block;
}

.button__account__description__category {
    padding-left: 12px;
}

.button__account__description__help {
    padding-left: 12px;
}

.button__account__description__category > span {
    color: #050505;
}

.button__account__description__help > span {
    color: #65676B;
}

.buttonAccount__section__border {
    width: 350px;
    border-radius: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    display: flex;
}

.buttonAccount__section__border:hover {
    background-color: #e9ebec;
    cursor: pointer;
}

.buttonAccount__section__border:active {
    background-color: #bfc2c4;
    cursor: pointer;
}

.buttonAccount__section__border > span {
    color: #050505;
    padding-top: 5px;
    padding-left: 10px;
}

.buttonAccount__section__icon > svg {
    width: 60px;
    height: 60px;
    color: gray;
}

.buttonAccount__section__accountDescription {
    display: block;
    padding-top: 5px;
    padding-left: 10px;
}

.buttonAccount__section__accountName > span {
    font-weight: 600;
    text-align: left;
    color: #050505;
    line-height: 1.1765;
    word-break: break-word;
}

.buttonAccount__section__description > span {
    word-break: break-word;
    color: #65676B;    
    font-weight: normal;
    font-size: .9375rem;
    line-height: 1.3333;
}

.button__account__section__border {
    margin-left: -8px;
    margin-right: -8px;
    border-radius: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    display: flex;
}

.button__account__section__border:hover {
    background-color: #eff2f5;
    cursor: pointer;
}

.button__account__section__border:active {
    background-color: #e9ebec;
    cursor: pointer;
}

.button__account__description {
    display: block;
}

.button__account__description__category {
    padding-left: 12px;
}

.button__account__description__help {
    padding-left: 12px;
}

.button__account__description__category > span {
    color: #050505;
}

.button__account__description__help > span {
    color: #65676B;
}

/*  */
.buttonAccount__menu__section {
    width: 350px;
    border-radius: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    display: flex;
}

.buttonAccount__menu__section:hover {
    background-color: #e9ebec;
    cursor: pointer;
}

.buttonAccount__menu__section:active {
    background-color: #bfc2c4;
    cursor: pointer;
}

.buttonAccount__menu__section > span {
    color: #050505;
    padding-top: 5px;
    padding-left: 10px;
}

.buttonAccount__menu__section__icon > svg {
    width: 36px;
    height: 36px;
    padding-top: 5px;
    color: gray;
}

.buttonAccount__section__info {
    display: block;
    padding-left: 10px;
}

.buttonAccount__section__info-main > span {
    font-weight: 600;
    text-align: left;
    color: #050505;
    line-height: 1.1765;
    word-break: break-word;
}

.buttonAccount__section__info-secondary {
    min-width: 200px;
}

.buttonAccount__section__info-secondary > span {
    word-break: break-word;
    color: #65676B;    
    font-weight: normal;
    font-size: .9375rem;
    line-height: 1.3333;
}

.buttonAccount__section__arrowLeft svg {
    margin-top: 10px;
    margin-left: 70px;
    width: 24px;
    height: 24px;
    color: gray;
}

.buttonAccount__switch {
    position: relative;
    display: inline-block;
    margin-top: 8px;
    margin-left: 40px;
    width: 52px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
.buttonAccount__switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
.buttonAccount__slider__round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .buttonAccount__slider__round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .buttonAccount__switch input:checked + .buttonAccount__slider__round {
    background-color: #1877F2;
  }
  
  .buttonAccount__switch input:focus + .buttonAccount__slider__round {
    box-shadow: 0 0 1px #1877F2;
  }
  
  .buttonAccount__switch input:checked + .buttonAccount__slider__round:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .buttonAccount__slider__round {
    border-radius: 34px;
  }
  
  .buttonAccount__slider__round:before {
    border-radius: 50%;
  }
/*  */

